<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Attendance Monitor</a>
      {% if request.user.is_authenticated %}
      <div class="d-flex">
        <a href="{% url 'logout' %}" class="btn btn-primary m-1">Logout</a>
        <a data-bs-toggle="modal" data-bs-target="#setip"class="m-1 btn btn-primary">Settings</a>
      </div>
      <!-- setting device IP address -->
      <div class="modal fade" id="setip" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Set IP address</h5>
              </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'set_ip' %}" method="POST">{% csrf_token %}
                  <div class="alert alert-primary">Provide your network Ip address and port below.</div>
                  <input class="form-control mt-2" type="text" name="ip" value="{{ip}}" placeholder="enter ip address">
                  <input class="form-control mt-2" type="text" name="port" value="{{port}}" placeholder="enter port">
                  <button type="submit" class="btn btn-primary btn-sm mt-2">Save</button>
                </form>
            </div>
          </div>
        </div>
      </div>
      {% else %} 
        <div class="d-flex">
          <a href="{% url 'login' %}" class="btn btn-primary m-1">Admin Login</a>
        </div>
      {% endif %}
      
    </div>
</nav>